.App {
  height: 100vh;
  text-align: center;
  font-size: 22px;
  display: grid;
  grid-template-columns: 1fr 3.9fr;
  grid-template-rows: 10% 10% 10fr 10%;
  grid-template-areas: 
  'sidebar header'
  'sidebar nav'
  'sidebar main'
  'footer footer'
}

header {
  grid-area: header;
  text-align: right;
  width: 90%
}

nav {
  grid-area: nav;
}

section {
  grid-area: sidebar;
} 

main {
  grid-area: main;
}

footer {
  grid-area: footer;
}

a:visited, a:link {
  color: green;
  text-decoration: none;
}

.article {
  background-color: lightblue;
  width: 99%;
  border: 1px black solid;
  margin-bottom: 1%;
}

.readMore {
  color: lavenderblush
}

.author a {
  color: rgba(50, 100, 200, .9)
}

p {
  font-size: 16px
}

