.App {
  height: 100vh;
  text-align: center;
  font-size: 22px;
  display: grid;
  grid-template-columns: 1fr 3.9fr;
  grid-template-rows: 15% 5% 10fr;
  grid-template-areas: 
  'header header'
  'sidebar nav'
  'sidebar main'
}

.App-header {
  display: flex;
  justify-content: space-between;
  margin-left: 4%;
  margin-right: 4%;
}

header {
  grid-area: header;
  position: relative
}

.hello {
  font-size: 15px;
  margin-top: 2%; 
}

.loginError {
  color: red;
  font-size: 12px;
  height: 30px;
  width: 100%;
  padding-top: 10px
}

img {
  border-radius: 50%;
}

nav {
  grid-area: nav;
  display: flex;
  justify-content: space-around;
}

.navbutton {
  background-color: lightcyan;
  font-size: 15px
}

section {
  grid-area: sidebar;
} 

main {
  grid-area: main;
}

a:visited, a:link {
  color: green;
  text-decoration: none;
}

.article, .article p {
  background-color: whitesmoke;
  width: 99%;
  border: 1px darkgrey;
  margin-bottom: 1%;
  color: grey
}

.stats, .stats a {
  font-size: 15px;
  display: flex;
  justify-content: space-around;
  color: dimgray
}

.author a {
  color: rgba(50, 100, 200, .9)
}

p {
  font-size: 16px
}

.loader {
  border: 16px solid #f3f3f3; /* Light grey */
  border-top: 16px solid #3498db; /* Blue */
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 2s linear infinite;
  margin: auto;
  margin-top: 50px;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.sort {
  text-align: left;
  margin-left: 5%;
  margin-bottom: .5%;
  font-size: 20px
}

.date {
  color: dimgray;
  font-size: 15px
}

.userContentControl {
  text-align: right;
  margin-right: 2.5%;
  font-size: 15px;
}

.votes {
  color: grey;
  font-size: 15px
}

.comment {
  width: 100%
}

.noComments {
  color: grey;
  margin-top: 20px;
  font-size: 15px
}

h3 {
  margin-bottom: .5%;
}
