.App {
  height: 100vh;
  text-align: center;
  font-size: 22px;
  font-family: Arial, Helvetica, sans-serif;
  display: grid;
  grid-template-columns: 1fr 3.9fr;
  grid-template-rows: 15% 5% 10fr;
  grid-template-areas:
    "header header"
    "sidebar nav"
    "sidebar main";
}

.App-header {
  display: flex;
  justify-content: space-between;
  margin-left: 4%;
  margin-right: 4%;
  margin-bottom: 5%;
}

header {
  grid-area: header;
  position: relative;
}

h1 {
  font-size: 30px;
}

h2 {
  font-size: 25px;
}

h3 {
  font-size: 20px;
}

.topic,
.user {
  font-size: 16px;
  margin-top: 10%;
  list-style: none;
}

.hello {
  font-size: 15px;
  margin-top: 2%;
}

.loginError {
  color: red;
  font-size: 12px;
  height: 30px;
  width: 100%;
  padding-top: 10px;
}

img {
  border-radius: 50%;
}

nav {
  grid-area: nav;
  display: flex;
  justify-content: space-around;
}

.navbutton {
  background-color: lightcyan;
  font-size: 15px;
}

section {
  grid-area: sidebar;
}

main {
  grid-area: main;
}

a:visited,
a:link {
  color: green;
  text-decoration: none;
}

.article {
  border: 1px solid rgba(240, 245, 245, 0.952);
  margin-right: 0.5%;
  padding: 1%;
}
.article p {
  background-color: white;
  width: 99%;
  margin-bottom: 1%;
  color: rgba(45, 46, 46, 0.924);
  font-weight: 600;
}

.stats,
.stats a {
  font-size: 15px;
  display: flex;
  justify-content: space-around;
  color: rgba(50, 100, 200, 0.9);
  font-weight: 600;
}

.author a {
  color: rgba(50, 100, 200, 0.9);
  font-weight: 600;
}

p {
  font-size: 16px;
}

.loader {
  border: 16px solid #f3f3f3; /* Light grey */
  border-top: 16px solid #3498db; /* Blue */
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 2s linear infinite;
  margin: auto;
  margin-top: 50px;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.sort {
  text-align: left;
  margin-left: 5%;
  margin-bottom: 0.5%;
  font-size: 20px;
}

.date {
  color: rgba(45, 46, 46, 0.924);
  font-size: 16px;
}

.userContentControl {
  text-align: right;
  margin-right: 2.5%;
  font-size: 15px;
}

.votes {
  color: rgba(45, 46, 46, 0.924);
  font-size: 18px;
  font-weight: 600;
}

.comment {
  width: 100%;
  background-color: rgba(243, 242, 242, 0.986);
  color: rgba(45, 46, 46, 0.924);
  font-weight: 600;
}

.noComments {
  color: rgba(45, 46, 46, 0.924);
  margin-top: 20px;
  font-size: 16px;
}

h3 {
  margin-bottom: 0.5%;
}

section {
  margin-top: 5%;
}

.sidebar .active {
  color: black;
  font-weight: 600;
}

.sidebar .inactive {
  color: rgba(50, 100, 200, 0.9);
  font-weight: 600;
}
